In [2]:
cities = ["karachi","Islamabad","Lahore","Peshawar","Quetta","Multan"]

In [3]:
cities

['karachi', 'Islamabad', 'Lahore', 'Peshawar', 'Quetta', 'Multan']

In [4]:
cities[-2]

'Quetta'

In [5]:
cities.index("Quetta")

4

In [14]:
cities.append("Larkana")

In [15]:
cities

['karachi', 'Islamabad', 'Lahore', 'Peshawar', 'Quetta', 'Multan', 'Larkana']

In [18]:
len??

In [19]:
cities.append(44.4)

In [20]:
cities

['karachi',
 'Islamabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4]

In [21]:
[1,2,3,4] + [7,8,9] + [12,15]

[1, 2, 3, 4, 7, 8, 9, 12, 15]

In [23]:
nlist = ["New LAnd","New Orleans"]
cities = cities + nlist
cities

['karachi',
 'Islamabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans']

In [24]:
cities.extend(['a','b','c'])
cities

['karachi',
 'Islamabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans',
 'a',
 'b',
 'c']

In [25]:
num = [10,5,6,7,1,50]

In [26]:
sorted(num)  #Inplace

[1, 5, 6, 7, 10, 50]

In [27]:
cities.append(['c','d','e','f'])
cities

['karachi',
 'Islamabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans',
 'a',
 'b',
 'c',
 ['c', 'd', 'e', 'f']]

In [29]:
cities.extend(['c','d','e','f'])
cities

['karachi',
 'Islamabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans',
 'a',
 'b',
 'c',
 ['c', 'd', 'e', 'f'],
 'c',
 'd',
 'e',
 'f']

In [30]:
today_tasks = []

In [31]:
today_tasks = today_tasks + ["Go to walk","Buy geocries"]

In [32]:
today_tasks

['Go to walk', 'Buy geocries']

In [33]:
cities.insert(2,"Hydreabad")

In [34]:
cities

['karachi',
 'Islamabad',
 'Hydreabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans',
 'a',
 'b',
 'c',
 ['c', 'd', 'e', 'f'],
 'c',
 'd',
 'e',
 'f']

In [36]:
del cities[-5]

In [37]:
cities

['karachi',
 'Islamabad',
 'Hydreabad',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Multan',
 'Larkana',
 44.4,
 'New LAnd',
 'New Orleans',
 'a',
 'b',
 'c',
 'c',
 'd',
 'e',
 'f']

In [38]:
cities.insert(30,"Lahore")

In [39]:
cities[30]

IndexError: list index out of range

In [40]:
len(cities)

19

In [42]:
cities[18] = "KHI"

In [43]:
cities[18]

'KHI'

In [44]:
print(range(2,8))

[2, 3, 4, 5, 6, 7]

In [47]:
for city in cities:
 print(city)

karachi
Islamabad
Hydreabad
Lahore
Peshawar
Quetta
Multan
Larkana
44.4
New LAnd
New Orleans
a
b
c
c
d
e
f
KHI

In [52]:
i = range(1,100)

In [53]:
i

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [57]:
i[1:51:5]

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47]

In [59]:
i[-20:-30]

[]

In [60]:
i[-20:-30:-1]

[80, 79, 78, 77, 76, 75, 74, 73, 72, 71]

In [65]:
i[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [69]:
i[1:10:1]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
i.reverse()

In [73]:
i

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]